*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}


.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  justify-content: start;
  align-items: flex-end;
  grid-template-columns: auto auto; /* Две колонки*/
  gap: 0 30px; /* Зазор между элементами сетки */
  grid-template-areas:
    "result-grid search-grid"
}

.result {
  grid-area: result-grid;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__details {
  grid-area: search-grid;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 20px;
}

.search-form {
  display: flex;
  min-height: 54px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.content__list-container {
  display: flex;
  max-height: 298px;
  max-width: 400px;
  flex-direction: column;
  overflow: auto;

}



/*Контейнер с большим видео */
.result__video-container { 
  display: flex;
  height: 386px;
  min-width: 711px;
  object-fit: auto;
}


.result__video {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center; 
}

/* Маленькая карточка */
.content__video-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

/* Заголовок и подпись к карточки*/
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Размеры превью карточек */
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

/* Текст филдсета */
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif; 
  font-weight: 400; 
  font-size: 18px; 
  line-height: 21.6px; 
  letter-spacing: 0%; 
}

/* Заголовок "Посмотри в окно" */
.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

/* Стиль"ПО" */
.content__accent {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  opacity: 0.5;

}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}

/*Текст заголовков мини-карточек*/
.content__video-card-title {
  font-family: "Fira Sans Condensed", sans-serif; 
  font-weight: 700; 
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

/*Подзаголовки мини-карточек*/
.content__video-card-description {
  font-family:"Fira Sans Condensed", sans-serif; 
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  white-space: nowrap; 
  overflow: hidden; 
  line-clamp: 3;
}

/*Прячем старые чекбоксы*/
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 


/*Главный контейнер полей ввода (Лейбл и филдсет)
Делаю высоту, прозрачность обводки и отступ у лейбла
*/
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border-color: transparent;
  height: 54px;
  gap: 5px 0 ;
}

/*Кнопка*/
.button {
display: flex;
justify-content: center;
padding: 5px 0 5px 0;
width: 194px;
font-family:"Fira Sans Condensed", sans-serif; 
font-weight: 700;
font-size: 18px;
color: #fff;
background-color: transparent;
border: 1px solid #fff;
}

/*Поле ввода*/
.search-form__textfield {
  width: 225px;
  height: 27px;
  padding: 2px 0 2px 0;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif; 
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*Стилизуем плейсхолдер*/
.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7)
}

/*Стилизуем активное поле*/
.search-form__textfield:active {
  border-right-color: #fff;
  border-left-color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}


/*Фича от куратора для фокуса*/
.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}





/*Поле с чекбоксами в линию*/
.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  width: 212px;
  gap: 0 15px;
}

/*Чекбокс и подпись*/
.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 0 5px;

}

/*Подпись для чекбокса*/
.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif; 
  font-weight: 400; 
  font-size: 18px; 
  letter-spacing: 0%; 
}


/*Стилизую чекбокс*/
.search-form__pseudo-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

/*Стилизуем активное поле */
.search-form__checkbox[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  display: block;
}


.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:hover:has(.search-form__checkbox)  {
  cursor: pointer;
  text-decoration: underline;
}


/* Пока не пойму зачем, может и лишнее
.search-form__checkbox {
  outline: 1px solid #fff;
}
*/





/*
.search-form__pseudo-checkbox:focus {
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 2px;
}
*/








h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
