*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}


.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  max-width: 1140px;
  justify-content: start;
  align-items: flex-end;
  grid-template-columns: auto auto; /* Две колонки*/
  gap: 0 30px; /* Зазор между элементами сетки */
  grid-template-areas:
    "result-grid search-grid"
}

.result {
  grid-area: result-grid;
  display: flex;
  flex-direction: column;
  gap: 20px
;
}

.content__details {
  grid-area: search-grid;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 20px;
}

.search-form {
  display: flex;
  min-height: 54px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container {
  display: flex;
  max-height: 298px;
  max-width: 400px;
  flex-direction: column;
  overflow: auto;

}



/* Задайте размеры контейнеру .result__video-container и добавьте отступ снизу */
.result__video-container { 
  display: flex;
  height: 386px;
  min-width: 711px;
  object-fit: auto;
}


.result__video {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center; 
}

/* сама карточка */
.content__video-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

/* Заголовок и подпись к карточке */
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Размеры превью карточек */
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

/* Оформите текст элементов */
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif; 
  font-weight: 400; 
  font-size: 18px; 
  line-height: 21.6px; 
  letter-spacing: 0%; 
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  opacity: 0.5;

}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}

/* Оформите текст*/
.content__video-card-title {
  font-family: "Fira Sans Condensed", sans-serif; 
  font-weight: 700; 
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family:"Fira Sans Condensed", sans-serif; 
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px; /* line-height: 3.5 */
  line-clamp: 1;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
